@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&display=swap');

body{
    font-family: 'Jost', sans-serif;
}


.title{
    font-size: 30px;
    font-weight: 700;
    color:#141024;
    text-align: center;
    padding-bottom: 30px;
}
.container{
    margin: 100px 40px;
}
.list_group .list_item{
    background-color: white;
    border: 1px #141024 solid;
    color: #141024;
    transition: all 1s ease; 
}

.list_group .list_item:hover,
.list_group .list_item:focus{
    color: whitesmoke;
    background-color: #141024;
    border: none;
}

h6{
    color: #D52027;
    font-weight: 600;
    font-size: 22px;
}