@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&display=swap');

body{
    font-family: 'Jost', sans-serif;
}


.navbar .container-fluid{
    background-color: #141024 !important; 
    padding: 10px 40px;
    position: fixed;
    top: 0;
    z-index: 20;
}

.navbar-expand-md .navbar-nav {
    flex-direction: row;
    justify-content: center !important; 
}

.navbar-nav a{
    font-size: 20px !important;
    color: white;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
}
.navbar-nav a:hover{
    text-shadow: 4px 5px 5px #fff;
    color: white;
}

.navbar-brand{
    font-size: 24px !important;
    color: white;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}

.my-navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    margin-bottom: 0;
  }


  .your-custom-class{
    color: rgba(240, 255, 255, 0);
  }
  .navbar-toggler {
    position: relative; 
    text-align: center;
    border-top:1px solid rgba(255, 255, 255, 0.681); 
    border-right:1px solid rgba(255, 255, 255, 0.538); 
    border-left:1px solid rgba(255, 255, 255, 0.538); 
    width: 50px; 
    height: 50px; 
    transition: all 0.3s ease; 
    border-radius: 10px; 
    background: linear-gradient(45deg, #120e20, #151127); 
    box-shadow: 2px -3px 7px #b0aeb6a7, -2px 5px 7px #ffffff5a; 
    padding-right: 0;
    overflow: hidden; &::before, &::after {
        content: ''; 
        position: absolute; 
        background-color: #fff; 
        width: 60%; 
        height: 3px;
        top: calc(50% - 2px); 
        left: 50%; 
        transform: translateX(-50%); 
        transition: all 0.3s ease; 
    }
    
    &::before {
        top: calc(50% - 7px);
    }
    
    &::after {
        top: calc(50% + 4px);
    }
}

.navbar-toggler .navbar-toggler-icon {
    display: none;
}
